<footer>
  <ul>
    <li><a href="https://github.com/{{ metadata.github }}"><i class="fa-brands fa-github"></i></a></li>
    <li><a href="https://keybase.io/{{ metadata.keybase }}"><i class="fa-brands fa-keybase"></i></a></li>
    <li><a href="mailto:{{ metadata.email }}"><strong>or email me.</strong></a></li>
  </ul>
</footer>
