<footer>
  <ul>
    <li>
      <a href="https://github.com/{{ metadata.github }}" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://keybase.io/{{ metadata.keybase }}" target="_blank">
        <i class="fa-brands fa-keybase"></i>
      </a>
    </li>
    <li>
      <a href="mailto:{{ metadata.email }}">
        <strong>or email me.</strong>
      </a>
    </li>
  </ul>
  <div>Built with
    <a href="https://www.bridgetownrb.com" target="_blank">Bridgetown</a>
  </div>
</footer>
