<div class="header">
  <header>
    <h1 class="nav-title">
      <a <a href="{{ '/' | relative_url }}">Ertuğrul Seyhan</a>
    </h1>
    <h2 class="nav-subtitle">Full-Stack Developer Candidate</h2>
  </header>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
      <li><a href="{{ '/portfolio' | relative_url }}">Portfolio</a></li>
    </ul>
  </nav>
</div>